<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kang Lee Lab Surveys</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar sticky-top navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="https://kangleelab-surveys.herokuapp.com/">Kang Lee Lab Surveys</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="https://kangleelab-surveys.herokuapp.com/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.kangleelab.com/" target="_blank">Lab Website
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.kangleelab.com/participate">Participate
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          
        <div class="container px-5 py-5">
            <h2>  Welcome to the Minnesota Multiphasic Personality Inventory (MMPI) prediction interactive webpage.</h2>
            <p>
                This applet computes an individuals likelihood of MMPI. Based on 100 questions, this app uses a machine learning model to compute the likelihood of MMP
            </p>
            <br>
            <p>
                Minnesota Multiphasic Personality Inventory (MMPI) is the most widely used psychometric test in the world. This study aimed to investigate the feasibility of using a reduced number of questions to predict the status in each conditions accurately. 
            </p>
            <p>
                We obtained a dataset of MMPI-2 responses from the Beijing Anding Hospital. The original dataset contains anonymized information on the participants including their demographics (age, sex, etc.), the raw scores and T-scores to each of the conditions, and the answers to each of the questions from the MMPI-2 test from each participant. The information of the participants includes their serial number, age, and their lname. The responses to the questions are “Yes”, “No”, or “Maybe”.
            </p>
            <p>    
                We identified the top 100 questions for predicting the ten MMPI conditions, which achieved at least 85% area under curve (AUC ROC) for predicting each of the conditions.
            </p>
            <p>   
                Our findings suggest that machine learning models using reduced number of questions are capable of making accurate assessment for MMPI.
            </p>
            
            
        </div>

          <div class="container px-5 py-5">
            
            <div class="card">
                <div class="card-body">
                    <h4>Please enter your answers below:</h4>
                    <form action="/results_mmpi" method="post">
                        <label> <b>Please enter your answers below:</b> </label><br><br>
                <p>
                    <label for="Gender">Gender: </label>
                    <select id="lname" class="form-select" name="Gender" step="any" required>
                        <option value="1">Female</option>
                        <option value="0">Male</option>
                    </select>
                </p>
                <p>
                    <label for="Age" >Age: </label>
                    <input type="number" class="form-control" id="fname" name="Age" value="40" min="18" max="100" step="any" required>
                </p>

                <p> 
                <label for="Q2">I have a good appetite.
                </label> 
                <select id="lname" class="form-select" name="Q2" step="any" required> 
                <option value="1">No</option> 
                <option value="0">Yes</option> 
                <option value="2">Uncertain</option> 
                </select> 
                </p> <br> <br>
                <p> 
                <label for="Q3">When I wake up in the morning, I often feel rested and clear-headed.
                </label> 
                <select id="lname" class="form-select" name="Q3" step="any" required> 
                <option value="1">No</option> 
                <option value="0">Yes</option> 
                <option value="2">Uncertain</option> 
                </select> 
                </p> <br> <br>
                <p> 
                <label for="Q6">I like to read news on crimes.
                </label> 
                <select id="lname" class="form-select" name="Q6" step="any" required> 
                <option value="1">No</option> 
                <option value="0">Yes</option> 
                <option value="2">Uncertain</option> 
                </select> 
                </p> <br> <br>
                <p> 
                <label for="Q7">My hands and feet are usually warm.
                </label> 
                <select id="lname" class="form-select" name="Q7" step="any" required> 
                <option value="1">No</option> 
                <option value="0">Yes</option> 
                <option value="2">Uncertain</option> 
                </select> 
                </p> <br> <br>
                <p> 
                <label for="Q8">My daily life is full of things that are interesting to me.
                </label> 
                <select id="lname" class="form-select" name="Q8" step="any" required> 
                <option value="1">No</option> 
                <option value="0">Yes</option> 
                <option value="2">Uncertain</option> 
                </select> 
                </p> <br> <br>
                <p> 
                <label for="Q9">My ability in work (study) is the same as before.
                </label> 
                <select id="lname" class="form-select" name="Q9" step="any" required> 
                <option value="1">No</option> 
                <option value="0">Yes</option> 
                <option value="2">Uncertain</option> 
                </select> 
                </p> <br> <br>
                <p> 
                <label for="Q12">I like detective or mystery novels.
                </label> 
                <select id="lname" class="form-select" name="Q12" step="any" required> 
                <option value="1">No</option> 
                <option value="0">Yes</option> 
                <option value="2">Uncertain</option> 
                </select> 
                </p> <br> <br>
                <p> 
                <label for="Q18">I rarely have constipation issues.
                </label> 
                <select id="lname" class="form-select" name="Q18" step="any" required> 
                <option value="1">No</option> 
                <option value="0">Yes</option> 
                <option value="2">Uncertain</option> 
                </select> 
                </p> <br> <br>
                <p> 
            <label for="Q21">Sometimes I want to leave home.
            </label> 
            <select id="lname" class="form-select" name="Q21" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q22">Sometimes I cry and laugh uncontrollably.
            </label> 
            <select id="lname" class="form-select" name="Q22" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q23">I am troubled with nausea and vomiting problems.
            </label> 
            <select id="lname" class="form-select" name="Q23" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q24">It seems like nobody understands me.
            </label> 
            <select id="lname" class="form-select" name="Q24" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q27">Sometimes I feel like I am being possessed.
            </label> 
            <select id="lname" class="form-select" name="Q27" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q32">I find it hard to focus on one job.
            </label> 
            <select id="lname" class="form-select" name="Q32" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q33">I have had very special or strange experiences.
            </label> 
            <select id="lname" class="form-select" name="Q33" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q35">I would have achieved a lot more if it wasn’t because I was impeded by someone. 
            </label> 
            <select id="lname" class="form-select" name="Q35" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q37">I have never had problems with my sexual activities.
            </label> 
            <select id="lname" class="form-select" name="Q37" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q38">I did petty theft when I was young. 
            </label> 
            <select id="lname" class="form-select" name="Q38" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q42">My family is unsatisfied with my chosen job (or upcoming job).
            </label> 
            <select id="lname" class="form-select" name="Q42" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q51">I am as healthy as most of my friends.
            </label> 
            <select id="lname" class="form-select" name="Q51" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q57">I become familiar with others as soon as I meet them.
            </label> 
            <select id="lname" class="form-select" name="Q57" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q63">I defecate normally and controllably.
            </label> 
            <select id="lname" class="form-select" name="Q63" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q64">Sometimes I do something non-stop until it annoys someone.
            </label> 
            <select id="lname" class="form-select" name="Q64" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q67">I hope I can be happy like others.
            </label> 
            <select id="lname" class="form-select" name="Q67" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q68">I have never had pain in the back of my neck.
            </label> 
            <select id="lname" class="form-select" name="Q68" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q71">I believe many people exaggerate their misfortunes to gain sympathy and help from others.
            </label> 
            <select id="lname" class="form-select" name="Q71" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q76">I get angry sometimes.
            </label> 
            <select id="lname" class="form-select" name="Q76" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q82">I believe I would enjoy being a forest ranger (or a similar job).
            </label> 
            <select id="lname" class="form-select" name="Q82" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q84">Everyone can succeed if they have the ability and desire to do the job.
            </label> 
            <select id="lname" class="form-select" name="Q84" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q91">Sometimes I delay things I am supposed to do today to the next day.
            </label> 
            <select id="lname" class="form-select" name="Q91" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q93">I want to be a nurse.
            </label> 
            <select id="lname" class="form-select" name="Q93" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q94">I believe most people will lie to make gains.
            </label> 
            <select id="lname" class="form-select" name="Q94" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q97">I rarely quarrel with my family.
            </label> 
            <select id="lname" class="form-select" name="Q97" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q102">I believe women should enjoy the same rights as men when it comes to sex life.
            </label> 
            <select id="lname" class="form-select" name="Q102" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q103">I believe I am the hardest to control.
            </label> 
            <select id="lname" class="form-select" name="Q103" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q106">I lose my temper when my body is in discomfort.
            </label> 
            <select id="lname" class="form-select" name="Q106" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q107">I always feel like I have done something wrong or committed some crime.
            </label> 
            <select id="lname" class="form-select" name="Q107" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q110">Some people are so bossy that I have to go against them, even when I know they are right.
            </label> 
            <select id="lname" class="form-select" name="Q110" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q117">I like games or competitions that I have wagered in more.
            </label> 
            <select id="lname" class="form-select" name="Q117" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q119">When I was in school, sometimes I was called out by the leader for making a fuss.
            </label> 
            <select id="lname" class="form-select" name="Q119" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q120">I always speak at a pace that is neither fast nor slow, and I am neither ambiguous nor hoarse.
            </label> 
            <select id="lname" class="form-select" name="Q120" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q122">I believe someone is plotting against me.
            </label> 
            <select id="lname" class="form-select" name="Q122" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q123">I seem to be as capable as the people around me.
            </label> 
            <select id="lname" class="form-select" name="Q123" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q124">I believe someone is stalking me.
            </label> 
            <select id="lname" class="form-select" name="Q124" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q127">I enjoy theatrical works. 
            </label> 
            <select id="lname" class="form-select" name="Q127" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q128">I know who is causing me trouble.
            </label> 
            <select id="lname" class="form-select" name="Q128" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q134">I have never indulged myself in any unusual sexual behavior.
            </label> 
            <select id="lname" class="form-select" name="Q134" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q141">I enjoy cooking.
            </label> 
            <select id="lname" class="form-select" name="Q141" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q145">I like to be a soldier.
            </label> 
            <select id="lname" class="form-select" name="Q145" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q152">Someone has been wanting to kill me with poison.
            </label> 
            <select id="lname" class="form-select" name="Q152" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q155">I have never had a twitching problem.
            </label> 
            <select id="lname" class="form-select" name="Q155" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q157">There was a time when I didn't remember anything I did.
            </label> 
            <select id="lname" class="form-select" name="Q157" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q163">I hate it when people trick me, forcing me to admit defeat.
            </label> 
            <select id="lname" class="form-select" name="Q163" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q164">I hardly get tired.
            </label> 
            <select id="lname" class="form-select" name="Q164" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q167">I am afraid of looking down from high places.
            </label> 
            <select id="lname" class="form-select" name="Q167" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q168">I don’t get nervous, even when someone in my family breaks the law.
            </label> 
            <select id="lname" class="form-select" name="Q168" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q170">I am not afraid to manage money.
            </label> 
            <select id="lname" class="form-select" name="Q170" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q175">I have never fainted before.
            </label> 
            <select id="lname" class="form-select" name="Q175" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q177">I am not afraid of snakes.
            </label> 
            <select id="lname" class="form-select" name="Q177" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q178">My mother is a good person.
            </label> 
            <select id="lname" class="form-select" name="Q178" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q179">My memory seems to be good.
            </label> 
            <select id="lname" class="form-select" name="Q179" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q181">I feel like I don’t know what to say when I encounter strangers.
            </label> 
            <select id="lname" class="form-select" name="Q181" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q187">I often find my hands trembling when I need to do something. 
            </label> 
            <select id="lname" class="form-select" name="Q187" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q192">Sometimes, I sweat a lot when I am embarrassed. This troubles me.
            </label> 
            <select id="lname" class="form-select" name="Q192" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q201">Someone wants to steal my thoughts and plans.
            </label> 
            <select id="lname" class="form-select" name="Q201" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q202">I wish I am not as shy as I am now.
            </label> 
            <select id="lname" class="form-select" name="Q202" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q220">I think I'd like a job as a construction contractor.
            </label> 
            <select id="lname" class="form-select" name="Q220" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q224">I like to hunt.
            </label> 
            <select id="lname" class="form-select" name="Q224" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q229">Sometimes I feel it is easy to make a decision.
            </label> 
            <select id="lname" class="form-select" name="Q229" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q230">I like joining several groups at once.
            </label> 
            <select id="lname" class="form-select" name="Q230" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q231">I never felt short of breath.
            </label> 
            <select id="lname" class="form-select" name="Q231" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q234">Sometimes I prevent others from doing certain things, not because of the potential impact, but because I feel I am morally obligated.
            </label> 
            <select id="lname" class="form-select" name="Q234" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q238">Almost all my relatives sympathize with me.
            </label> 
            <select id="lname" class="form-select" name="Q238" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q245">My methods are often misunderstood.
            </label> 
            <select id="lname" class="form-select" name="Q245" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q267">I get excited at least once or twice a week.
            </label> 
            <select id="lname" class="form-select" name="Q267" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q268">I don’t know what to say when there are a lot of people.
            </label> 
            <select id="lname" class="form-select" name="Q268" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q272">I don’t blame someone who bullies a person who has brought it upon themselves.
            </label> 
            <select id="lname" class="form-select" name="Q272" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q278">Sometimes I admire a con man's wit so much that I even hope they get away with it.
            </label> 
            <select id="lname" class="form-select" name="Q278" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q279">I often feel that some strangers are staring at me critically.
            </label> 
            <select id="lname" class="form-select" name="Q279" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q281">Most people make friends because friends are useful to them.
            </label> 
            <select id="lname" class="form-select" name="Q281" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q289">Problems with nausea and vomiting bother me.
            </label> 
            <select id="lname" class="form-select" name="Q289" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q292">At least once or twice in my life, I felt someone hint at me to do something.
            </label> 
            <select id="lname" class="form-select" name="Q292" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q296">I like reading novels like Dream of the Red Chamber.
            </label> 
            <select id="lname" class="form-select" name="Q296" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q298">I wish I wasn't bothered by sexual thoughts anymore.
            </label> 
            <select id="lname" class="form-select" name="Q298" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q301">I have never liked dolls in my entire life.
            </label> 
            <select id="lname" class="form-select" name="Q301" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q315">Occasionally I think of things that are too evil to be said aloud. 
            </label> 
            <select id="lname" class="form-select" name="Q315" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q316">I deeply believe that life is cruel to me. 
            </label> 
            <select id="lname" class="form-select" name="Q316" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q318">I am more sensitive than most people.
            </label> 
            <select id="lname" class="form-select" name="Q318" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q321">I have a lot of dreams about sex.
            </label> 
            <select id="lname" class="form-select" name="Q321" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q324">I have had very special or strange experiences.
            </label> 
            <select id="lname" class="form-select" name="Q324" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q339">I worry about more things than I should.
            </label> 
            <select id="lname" class="form-select" name="Q339" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q342">Sometimes my hearing is so sensitive that it annoys me.
            </label> 
            <select id="lname" class="form-select" name="Q342" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q346">I often feel everything is not real.
            </label> 
            <select id="lname" class="form-select" name="Q346" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q350">I have some weird or special ideas.
            </label> 
            <select id="lname" class="form-select" name="Q350" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q358">There were a few times I gave up on the thing I was doing because I feel incapable.
            </label> 
            <select id="lname" class="form-select" name="Q358" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q360">Sometimes I am bothered by unimportant thoughts, making me uneasy for days.
            </label> 
            <select id="lname" class="form-select" name="Q360" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q370">In social gatherings, I mostly sit alone or with another person, rather than being with a crowd.
            </label> 
            <select id="lname" class="form-select" name="Q370" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q383">I like social gatherings because I can get together with people.
            </label> 
            <select id="lname" class="form-select" name="Q383" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q471">Things about sex annoy me.
            </label> 
            <select id="lname" class="form-select" name="Q471" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
            </p> <br> <br>
            <p> 
            <label for="Q527">My future doesn’t seem hopeful.
            </label> 
            <select id="lname" class="form-select" name="Q527" step="any" required> 
            <option value="1">No</option> 
            <option value="0">Yes</option> 
            <option value="2">Uncertain</option> 
            </select> 
                        

                        <input type="submit" name="form" class="btn btn-primary"></input>
                    </form>
                </div>
                        
            </div>
             

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>